%h2
  Outreach made on
  = @outreach.created_at.stamp("May 20, 1989")
%h4="Subject: #{@outreach.subject}"
%h4
  ="Organization:"
  = link_to @outreach.organization.name, admin_organization_path(@outreach.organization)
%h4 Recipients:
- @outreach.users.each do |u|
  = link_to u.name, admin_user_path(u)
