.row
  .col-md-12
    = image_tag("fr-logo.jpg", class: "fr-logo")
.row
  .col-md-12
    %h3 Thank you for adding yourself to our Foster Roster!
    %p We will email you when a dog in the NYC area seems like a good match for you, according to the information you submitted. In the meantime, browse through the many local dogs in need on FosterDogsNYC.com.
    %p
      %strong Important Notes:
      %ul
        %li
          %strong Foster Dogs is not a kennel and we do not have any dogs in our care;
          | our goal is to connect you with dogs in need from various rescue groups and shelters near you. We have not personally met all the dogs that we post, but promise to disclose as much information as we can for every dog on our site.
        %li
          %strong Many rescue organizations will require you to complete their foster volunteer application even though
          | we can provide them with your Foster Roster information. You might have some extra paperwork, but it's all worth it in the end!
        %li
          %strong Once you have the foster dog in your care, your help in finding a forever home for your foster dog will be essential.
          | You are encouraged to show off your foster dog around town, but the final "yes" in confirming an adopter's application is the responsibility of the rescue group (since they are the dog's legal guardian). You are not able to "give away" your foster dog without the rescuer's permission.
        %li
          %strong New to fostering?
          | Download our MANUAL: http://fosterdogsnyc.com/manual/
        %li
          %strong We respect your privacy
          | and will not distribute your information to a third party without your approval.
    %p
      %strong Disclaimer:
    %p Foster Dogs is comprised of volunteers who help create the bridge between people who want to help dogs and dogs who need a home! This Foster Roster helps us connect willing foster homes with rescue groups in need. While we will keep track of the progress of any dog on our site, we do not handle the foster (or adoption) approval process, as that is the duty of the rescue group or shelter.
    %p Once you begin communication with the rescue group responsible for a specific dog (a third party), we are here for questions/comments/suggestions, but it becomes the responsibility of the rescue group to continue the conversation and to review your application.
.row
  .col-md-12
    = link_to "http://fosterdogs.nyc" do
      .btn.btn-primary Back to Foster Dogs NYC
