// hack to allow both the "edit" and "new" functionality work using the same partials and passing null objects down through local vars
- user = user
- survey_response = survey_response.try(:response)

.row
  .col-md-6
    .form-group
      = label_tag question.slug.to_sym, question.question_text
      %p= question.question_subtext.html_safe if question.question_subtext.present? && !filter
      = display_question_choices(question: question, filter: filter, admin: admin, response: survey_response)
