.row
  .col-md-12
    = image_tag("macc-logo.jpg", class: "macc-logo")
.fr-form
  .row
    .col-md-12
      %p
        Metro Animal Care and Control
        %br
        5125 Harding Pl,
        %br
        Nashville, TN 37211
  .row
    .col-md-12
      %p= "Please sign up to add yourself to #{ link_to('Metro Animal Care and Control', 'https://www.facebook.com/MetroAnimalCare/') }'s \"Foster Roster\" through Foster Dogs Incorporated. The Foster Roster is an online database of active foster caretakers in partnership with MACC that allows us to efficiently and effectively match dogs in need with appropriate foster homes.".html_safe
