= organization_header(slug: @organization.slug)
= render partial: 'shared/basic_user_info'
.row
  .col-md-12
    %h3 Foster Preferences
.fr-form
  = form_tag do
    - @survey.questions.each do |q|
      = render partial: "shared/question", locals: { question: q }
