@import "bootstrap-sprockets";
@import "bootstrap";

.fr-logo {
  width: 100%;
  margin: 0 auto;
}

.fr-form {
  margin: 20px 10px;
}

.users-table {
  margin-top: 20px;
}

.btn--ui {
  display: inline-block;
  margin-bottom: 10px;
}

.dog-header__short-code {
  color: #777777;
  text-transform: uppercase;
}

.info__label {
  font-weight: 800;
}

.date-select {
  display: inline-block;
  width: 30%;
}

.filter-select {
  width: 100%;
}

.filter-form {
  margin-bottom: 20px;
}

.filter-form__submit {
  float: right;
}

.active-filters {
  background-color: yellow;
  margin-bottom: 20px;
}
