@import "bootstrap-sprockets";
@import "bootstrap";

.dog-header__short-code {
  color: #777777;
  text-transform: uppercase;
}

.info__label {
  font-weight: 800;
}

.filter-select {
  width: 100%;
}

.filter-form {
  margin-bottom: 20px;
}

.filter-form__submit {
  float: right;
}

.active-filters {
  background-color: yellow;
  margin-bottom: 20px;
}
