= form_tag(admin_organization_users_path, method: :get, class: 'filter-form') do
  - hidden_field_tag :organization_slug, @organization.slug
  .row
    .col-md-12
      %h1.pull-left Filters
      = submit_tag 'Filter', class: 'pull-right btn btn-primary'
